.pagelayout {
	background-color: beige;
}

.horizontalstack {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	background-color: beige;
	min-height: 100%;
}

.leftstack {
	width: 15%;
	display: flex;
	flex-direction: column;
	margin-right: 10px;
	margin-left: 50px;
	min-height: 100%;
}

.filter {
	background-color: aquamarine;
	height: 200px;
	width: 100%;
	text-align: center;
	justify-content: center;
	margin: 5px 20px;
}

.faq {
	background-color: blue;
	height: 200px;
	width: 100%;
	text-align: center;
	justify-content: center;
	margin: 5px 20px;
}

.rightstack {
	width: 85%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.catalog {
	background-color: green;
	height: 95%;
	width: 90%;
	text-align: center;
	justify-content: center;
	margin: 5px 20px;
}

.pageindice {
	background-color: brown;
	height: 5%;
	width: 10%;
	text-align: center;
	justify-content: center;
	margin: 10px auto;
}
